@tailwind base;
@tailwind components;
@tailwind utilities;



.page {
    @apply py-6 px-8;
    @apply font-sans;
    /* @apply bg-accent; */
}



/**
  * Barcode Scanning
  * -------------------------------------------
  */
body.barcode-scanning-active {
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

.barcode-scanning-modal {
    visibility: visible;
}