

#file {
    display: none;
}
/* 
label[for="file"] {
    background-color: lightgrey;
    padding: 10px 10px;
} */

progress, .progress-parent {
    display: none;
}

progress.visible, .progress-parent.visible {
    display: block;
}