@tailwind base;
@tailwind components;
@tailwind utilities;


#layout > aside , #layout > main{
    min-height: 100vh;
    overflow-y: scroll!important;
}

#app__navigation{
    height: 90vh!important;
    position: fixed;
}
