# shellcheck disable=SC2148
export TAURI_SIGNING_PRIVATE_KEY="dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5UUhRaWNIaUdKdEQ2QkY5NG1xRVZVMHprZ2UrYTlSSkhMWnRlWkl6bXN1QUFBQkFBQUFBQUFBQUFBQUlBQUFBQTZFbktvYXpmMk5pc3VuN0lVV2JwWTZaT2Zpa2YyUU1DWithbStTYVJMSGdNYzUwUHJoRjVBcXFxNzh3bEF1a2Y5UUN2QlBHQkJOaCtLRXNkY2JHQ0VEZ0JrdkRSbnpCVkZoM0lucGkwN1ZpdTBsRVdYdEtFcHNOL3U2N2lNOEVGU3kyZXdoM1pTK1E9Cg=="


export TAURI_SIGNING_PRIVATE_KEY_PASSWORD="brimestone"